.listEdit {
  background-color: burlywood;
  padding: 20px;
  display: flex;
  flex-flow: wrap;
}
.addList {
  background-color: burlywood;
  padding: 20px;
  vertical-align: top;
}
.interface {
  display: flex;
}

.Task_btn {
  width: 20em;
  height: 3em;
}
